<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Receipt Splitter</title>
    </head>
    <body>
        <h1>Reciept</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="receipt">
            <button type="submit">submit</button>
        </form>
    </body>
</html>