body {
    background-color:rgb(214, 170, 255);
}

#profile_header {
    background-color: beige;
    height: 100px;
    padding: 5px;
}

#event_group {

}

#options_footer {
    position: fixed;
    bottom: 0px;
    height: 100px;
    background-color: black;
    width: 100%;
    text-align: center;
}

#logout_button{
    float: right;
}

.add_buttons {
    padding: 30px;
    margin: 15px;
}

.single_event {
    background-color: aqua;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
}

.single_event:hover {
    cursor:pointer;
}

.event_action {
    text-align: right;
}